<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0">
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
            <p id="tituloPE">Pedidos impresos</p>
            <table class="table" s>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Número de Requisición</th>
                    <th scope="col">Número de Empleado</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">NP</th>
                    <th scope="col">Tipo de Etiqueta</th>
                    <th scope="col">Cantidad Solicitada</th>
                    <th scope="col">Fecha de Solicitud</th>
                    <th scope="col">Hora de Solicitud</th>
                    <th scope="col">Estado</th>
                    <th scope="col">PO</th>
                    <th scope="col">Cantidad de piezas</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                
                    
                  </tr>

             
                </tbody>
              </table>
              
        </div>
  
    </div>
</div>