<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0">
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
            <p id="tituloPE">Contacto</p>
            <form action="mail.php" method="post" style="width: 50%; margin-left: 300px;" >
           

                        <!--Body-->
                        <div class="form-group" >
                         
                            <div class="input-group mb-2">
                                
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder=" esmeralda.infante@sanmina.com" required >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                               
                                <input type="email" class="form-control" id="nombre" name="email" placeholder="ejemplo@gmail.com" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                               
                                <input type="email" class="form-control" id="nombre" name="email" placeholder="Ejemplo, problemas con la aplicación" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                              
                                <textarea class="form-control" placeholder="Envianos tu Mensaje" required></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <input type="submit" value="Enviar" class="btn btn-warning btn-block rounded-0 py-2">
                        </div>
           
            </form>
            </div>

        
    </div>
</div>