<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0">
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
            <p id="tituloPE">Atender pedidos</p>
            <table class="table" s>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col"> <input type="checkbox" id="exampleCheck1"></th>
                    <th scope="col">Número de Requisición</th>
                    <th scope="col">Número de Empleado</th>
                    <th scope="col">Proyecto</th>
                    <th scope="col">NP</th>
                    <th scope="col">Tipo de Etiqueta</th>
                    <th scope="col">Cantidad Solicitada</th>
                    <th scope="col">Fecha de Solicitud</th>
                    <th scope="col">Hora de Solicitud</th>
                    <th scope="col">Estado</th>
                    <th scope="col">PO</th>
                    <th scope="col">Cantidad de piezas</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" id="exampleCheck1"></th>
                    <td>Mark</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>Otto</td>
                    
                  </tr>

             
                </tbody>
              </table>
              
        </div>
       
        <button type="submit" style="margin-top: 30px; margin-right: 30px; font-weight: bold;" class="btn btn-warning" >En proceso</button>
        <button type="submit" style="margin-top: 30px; margin-right: 30px;font-weight: bold;" class="btn btn-primary">Cambiar a impreso</button>
        <button type="submit" style="margin-top: 30px; margin-right: 30px; font-weight: bold;" class="btn btn-danger">Cancelar pedido</button>
        <button type="submit" style="margin-top: 30px;margin-right: 30px;font-weight: bold; " class="btn btn-success">Completar detalles</button>
        <button type="submit" style="margin-top: 30px;margin-right: 30px; font-weight: bold;" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
          </svg>                  Imprimir</button>
      
    </div>
</div>