<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0">
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
       

        </div>
        <!-- <span class="mt-3 mb-0">42Q Configuration</span> -->
        <div class="xs-d-flex flex-wrap d-flex justify-content-between ml-0 text-left">

            <div class="xs-d-flex flex-wrap d-flex justify-content-start">
                <h2><span class="badge badge-secondary">SFDC ID: </span></h2>
                <h2><span id="lblsfdcid" class="badge badge-info">NA</span></h2>
            </div>
            <div class="xs-d-flex flex-wrap d-flex justify-content-start">
                <h2><span class="badge badge-secondary">Station Type: </span></h2>
                <h2><span id="lblStationType" class="badge badge-info">NA</span></h2>
            </div>
            <div class="xs-d-flex flex-wrap d-flex justify-content-start">
                <h2><span class="badge badge-secondary">Station: </span></h2>
                <h2><span id="lblStation" class="badge badge-info">NA</span></h2>
            </div>
        </div>
        </div>
        <div class="card-body mt-0">
            <div class="col-md-12  mt-0 mb-0 row">
                <div class="col-md-11 mt-0 mb-0">
                    <div class="form-group  mt-0">
                        <div class="input-group mt-0">
                            <div class="input-group-prepend mt-0">
                                <span class="input-group-text"><i class="fa fa-barcode fa-lg"></i></span>
                            </div>
                            <input type="text" placeholder="Password barcode" id="txtPasswordBarcode" autocomplete="off"
                                (keypress)="onKeypressEvent_Barcode($event)" class="form-control">
        
                        </div>
                    </div>
                </div>
                <div class="col-md-1 mt-0 mb-0">
                    <div class="btn-group mt-0 mb-0" style="width: 100%;">
                        <button type="button" class="btn btn-secondary" (click)="mCancelUnit()">Cancel</button>
                    </div>
                </div>
                <div class="col-md-11 mt-0 mb-0">
                    <div class="form-group mt-0 mb-0">
                        <div class="input-group mt-0 mb-0">
                            <div class="input-group-prepend mt-0 mb-0">
                                <span class="input-group-text"><i class="fa fa-barcode fa-lg"></i></span>
                            </div>
                            <input type="text" placeholder="Unit serial number" id="txtSerialNumber" autocomplete="off"
                                (keypress)="onKeypressEvent_SerialNumber($event)" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-1 mt-0 mb-0">
                    <div class="btn-group mt-0 mb-0" style="width: 100%;">
                        <button type="button" class="btn btn-secondary" (click)="mClearConsole()">Clear Hist.</button>
                    </div>
                </div>
                <!-- <textarea class="form-control" disabled id="taConsole" rows="20" style="overflow-y: scroll;"></textarea> -->
                <div id="taConsole" style="height:50vh;overflow: scroll;text-align:left" class="form-control"></div>
            </div>

        
    </div>
</div>