<div class="card mt-3" style="height: 100% auto;">
  <div class="card-header mt-0 mb-0" >
      
      <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
          <p id="tituloPE">Cancelar pedido</p>
          
      </div>
      <!--<button type="button" id="botonPersonalizado" class="btn btn-warning" style="color:white; font-weight: bold; padding: -10px; font-size: 15px; margin-left: -15px;">Pedidos personalizados</button>-->

      <p id="contenidoPE">Ingresa el número de requisición que deseas cancelar:</p>
      <input type="text" class="form-control" id="exampleInputEmail1" style="width: 40%;">
      <button type="submit" style="margin-top: 30px; margin-left:-1025px; font-weight: bold;" class="btn btn-danger">Enviar</button>
  </div>
</div>