<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0" >
        
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
            <p id="tituloPE">Pedidos en espera </p>
            
        </div>
        <!--<button type="button" id="botonPersonalizado" class="btn btn-warning" style="color:white; font-weight: bold; padding: -10px; font-size: 15px; margin-left: -15px;">Pedidos personalizados</button>-->

        <p id="contenidoPE">No hay requisiciones en espera . . .</p>
    </div>
</div>
