<div class="card mt-3" style="height: 100% auto;">
    <div class="card-header mt-0 mb-0" >
        
        <div class="xs-d-flex flex-wrap d-flex justify-content-between mt-0 mb-2 ">
            <p id="tituloPE">Realizar pedidos </p>
            
        </div>
       <!-- <button type="button" id="botonPersonalizado" class="btn btn-warning" style="color:white; font-weight: bold; padding: -10px; font-size: 15px; margin-left: -15px;">Pedidos personalizados</button>-->
        <div class="box1"> 
        <form style="margin-top: 30px;">
            <div class="mb-3">
              <label for="exampleInputEmail1" id="txt1"class="form-label">No. de Empleado</label>
              <input style="width: 200px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" id="txt1"class="form-label">Nombre completo</label>
                <input style="width: 400px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
            
            <div class="mb-3">
                <label for="exampleInputEmail1" id="txt2"class="form-label">Proyecto</label>
                <select class="form-control">
                    <option value="" disabled selected hidden>Selecciona</option>
                    <option>Opción 1</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" id="txt3"class="form-label">No. de Parte</label>
                <select class="form-control">
                    <option value="" disabled selected hidden>Selecciona</option>
                    <option>Opción 1</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" id="txt4"class="form-label">Tipo de etiqueta</label>
                <select class="form-control">
                    <option value="" disabled selected hidden>Selecciona</option>
                    <option>Opción 1</option>
                  </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" id="txt5"class="form-label">Cantidad de etiquetas</label>
                <input style="width: 200px;" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
        
            <button type="submit" style="margin-top: 30px; margin-left: -180px;font-weight: bold;" class="btn btn-success">Enviar pedido</button>
            <button type="submit" style="margin-top: 30px; margin-left: 30px;font-weight: bold;" class="btn btn-primary">Limpiar campos</button>

          </form>
        </div>
    </div>
    
</div>
